
API_ERP/.vs/API_ERP/v17/.suo
API_ERP/.vs/API_ERP/config/applicationhost.config
API_ERP/.vs/API_ERP/FileContentIndex/fee0761a-c2d9-4a8a-b181-5d3e9294a19f.vsidx
API_ERP/.vs/API_ERP/v17/.suo
API_ERP/API_ERP/bin/Debug/net6.0/API_ERP.dll
API_ERP/API_ERP/bin/Debug/net6.0/API_ERP.pdb
API_ERP/API_ERP/obj/API_ERP.csproj.nuget.dgspec.json
API_ERP/API_ERP/obj/Debug/net6.0/API_ERP.assets.cache
API_ERP/API_ERP/obj/Debug/net6.0/API_ERP.csproj.BuildWithSkipAnalyzers
API_ERP/API_ERP/obj/Debug/net6.0/API_ERP.csproj.FileListAbsolute.txt
API_ERP/API_ERP/obj/Debug/net6.0/API_ERP.dll
API_ERP/API_ERP/obj/Debug/net6.0/API_ERP.GeneratedMSBuildEditorConfig.editorconfig
API_ERP/API_ERP/obj/Debug/net6.0/API_ERP.genruntimeconfig.cache
API_ERP/API_ERP/obj/Debug/net6.0/API_ERP.pdb
API_ERP/API_ERP/obj/project.assets.json
API_ERP/API_ERP/obj/project.nuget.cache
*.v2
*.vsidx
API_ERP/.vs/API_ERP/DesignTimeBuild/.dtbcache.v2
API_ERP/.vs/API_ERP/v17/.suo
API_ERP/.vs/ProjectEvaluation/api_erp.metadata.v5.2
API_ERP/API_ERP/API_ERP.csproj.user
API_ERP/.vs/API_ERP/DesignTimeBuild/.dtbcache.v2
API_ERP/.vs/API_ERP/v17/.suo
*.v2
API_ERP/.vs/API_ERP/DesignTimeBuild/.dtbcache.v2
API_ERP/.vs/API_ERP/FileContentIndex/f8379072-0ea4-4e15-b045-a8241879ccbd.vsidx
API_ERP/.vs/API_ERP/v17/.suo
API_ERP/.vs/ProjectEvaluation/api_erp.projects.v5.2
API_ERP/API_ERP/bin/Debug/net6.0/API_ERP.dll
API_ERP/API_ERP/bin/Debug/net6.0/API_ERP.exe
API_ERP/API_ERP/bin/Debug/net6.0/API_ERP.pdb
API_ERP/API_ERP/obj/API_ERP.csproj.nuget.dgspec.json
API_ERP/API_ERP/obj/API_ERP.csproj.nuget.g.props
API_ERP/API_ERP/obj/Debug/net6.0/API_ERP.assets.cache
API_ERP/API_ERP/obj/Debug/net6.0/API_ERP.csproj.AssemblyReference.cache
API_ERP/API_ERP/obj/Debug/net6.0/API_ERP.csproj.CoreCompileInputs.cache
API_ERP/API_ERP/obj/Debug/net6.0/API_ERP.dll
API_ERP/API_ERP/obj/Debug/net6.0/API_ERP.pdb
API_ERP/API_ERP/obj/Debug/net6.0/apphost.exe
API_ERP/API_ERP/obj/Debug/net6.0/ref/API_ERP.dll
API_ERP/API_ERP/obj/Debug/net6.0/refint/API_ERP.dll
API_ERP/API_ERP/obj/project.assets.json
API_ERP/API_ERP/obj/project.nuget.cache
API_ERP/.vs/API_ERP/DesignTimeBuild/.dtbcache.v2
API_ERP/.vs/API_ERP/FileContentIndex/f8379072-0ea4-4e15-b045-a8241879ccbd.vsidx
API_ERP/.vs/API_ERP/v17/.suo
API_ERP/.vs/ProjectEvaluation/api_erp.projects.v5.2
API_ERP/API_ERP/bin/Debug/net6.0/API_ERP.dll
API_ERP/API_ERP/bin/Debug/net6.0/API_ERP.exe
API_ERP/API_ERP/bin/Debug/net6.0/API_ERP.pdb
API_ERP/API_ERP/obj/API_ERP.csproj.nuget.dgspec.json
API_ERP/API_ERP/obj/API_ERP.csproj.nuget.g.props
API_ERP/API_ERP/obj/Debug/net6.0/API_ERP.assets.cache
API_ERP/API_ERP/obj/Debug/net6.0/API_ERP.csproj.AssemblyReference.cache
API_ERP/API_ERP/obj/Debug/net6.0/API_ERP.csproj.CoreCompileInputs.cache
API_ERP/API_ERP/obj/Debug/net6.0/API_ERP.dll
API_ERP/API_ERP/obj/Debug/net6.0/API_ERP.pdb
API_ERP/API_ERP/obj/Debug/net6.0/apphost.exe
API_ERP/API_ERP/obj/Debug/net6.0/ref/API_ERP.dll
API_ERP/API_ERP/obj/Debug/net6.0/refint/API_ERP.dll
API_ERP/API_ERP/obj/project.assets.json
API_ERP/API_ERP/obj/project.nuget.cache
API_ERP/.vs/API_ERP/DesignTimeBuild/.dtbcache.v2
API_ERP/.vs/API_ERP/FileContentIndex/f8379072-0ea4-4e15-b045-a8241879ccbd.vsidx
API_ERP/.vs/API_ERP/v17/.suo
API_ERP/.vs/ProjectEvaluation/api_erp.metadata.v6.1
API_ERP/.vs/ProjectEvaluation/api_erp.projects.v6.1
API_ERP/API_ERP/bin/Debug/net6.0/API_ERP.exe
API_ERP/API_ERP/bin/Debug/net6.0/API_ERP.dll
API_ERP/API_ERP/bin/Debug/net6.0/API_ERP.pdb
API_ERP/API_ERP/obj/API_ERP.csproj.nuget.dgspec.json
API_ERP/API_ERP/obj/API_ERP.csproj.nuget.g.props
API_ERP/API_ERP/obj/Debug/net6.0/API_ERP.assets.cache
API_ERP/API_ERP/obj/Debug/net6.0/API_ERP.csproj.AssemblyReference.cache
API_ERP/API_ERP/obj/Debug/net6.0/API_ERP.csproj.CoreCompileInputs.cache
API_ERP/API_ERP/obj/Debug/net6.0/API_ERP.dll
API_ERP/API_ERP/obj/Debug/net6.0/API_ERP.pdb
API_ERP/API_ERP/obj/Debug/net6.0/apphost.exe
API_ERP/API_ERP/obj/Debug/net6.0/ref/API_ERP.dll
API_ERP/API_ERP/obj/Debug/net6.0/refint/API_ERP.dll
API_ERP/API_ERP/obj/project.assets.json
API_ERP/API_ERP/obj/project.nuget.cache
API_ERP/.vs/API_ERP/DesignTimeBuild/.dtbcache.v2
API_ERP/.vs/API_ERP/FileContentIndex/f8379072-0ea4-4e15-b045-a8241879ccbd.vsidx
API_ERP/.vs/API_ERP/v17/.suo
API_ERP/API_ERP/bin/Debug/net6.0/API_ERP.exe
API_ERP/API_ERP/bin/Debug/net6.0/API_ERP.dll
API_ERP/API_ERP/bin/Debug/net6.0/API_ERP.pdb
API_ERP/API_ERP/obj/API_ERP.csproj.nuget.dgspec.json
API_ERP/API_ERP/obj/API_ERP.csproj.nuget.g.props
API_ERP/API_ERP/obj/Debug/net6.0/API_ERP.assets.cache
API_ERP/API_ERP/obj/Debug/net6.0/API_ERP.csproj.AssemblyReference.cache
API_ERP/API_ERP/obj/Debug/net6.0/API_ERP.csproj.CoreCompileInputs.cache
API_ERP/API_ERP/obj/Debug/net6.0/API_ERP.dll
API_ERP/API_ERP/obj/Debug/net6.0/API_ERP.pdb
API_ERP/API_ERP/obj/Debug/net6.0/apphost.exe
API_ERP/API_ERP/obj/Debug/net6.0/ref/API_ERP.dll
API_ERP/API_ERP/obj/Debug/net6.0/refint/API_ERP.dll
API_ERP/API_ERP/obj/project.assets.json
API_ERP/API_ERP/obj/project.nuget.cache
*.dll
API_ERP/API_ERP/bin/Debug/net6.0/API_ERP.dll
API_ERP/API_ERP/bin/Debug/net6.0/API_ERP.pdb
API_ERP/API_ERP/obj/Debug/net6.0/API_ERP.csproj.CoreCompileInputs.cache
API_ERP/API_ERP/obj/Debug/net6.0/API_ERP.dll
API_ERP/API_ERP/obj/Debug/net6.0/API_ERP.pdb
API_ERP/API_ERP/obj/Debug/net6.0/ref/API_ERP.dll
API_ERP/API_ERP/obj/Debug/net6.0/refint/API_ERP.dll
